body {
    background: linear-gradient(75deg, #1a1a1a 0%, #2d1810 100%);
    font-family: 'Cinzel', serif;
    color: #e0e0e0;
}

.tartalom {
    background: rgba(34, 18, 12, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border: 1px solid rgba(34, 18, 12, 1);
}

h1, h2 {
    text-align: center;
    color: #e0e0e0;
}

/*
Source - https://stackoverflow.com/a
Posted by Tyler Watts, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-12, License - CC BY-SA 4.0
*/



.card:hover, .img-fluid:hover{
    box-shadow: 8px 8px 8px rgb(29, 2, 6);
    transform:scale(1.06);
}

.card,.img-fluid{

  border:1px solid black;
  transition:.3s;
}

.container{
    background-color: #1a1a1a;
    border-radius: 16px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px rgb(29, 2, 6);
    border: #e0e0e0 solid;
    padding-top: 2px;
    padding-bottom: 3px;
}