body {
    background: linear-gradient(75deg, #1a1a1a 0%, #2d1810 100%);
    font-family: 'Cinzel', serif;
    color: #e0e0e0;
}

.tartalom {
    background: rgba(34, 18, 12, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border: 1px solid rgba(34, 18, 12, 1);
}

h1 {
    text-align: center;
    color: #e0e0e0;
}